/* montserrat-regular - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/montserrat-v25-cyrillic_latin-regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/montserrat-v25-cyrillic_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/montserrat-v25-cyrillic_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/montserrat-v25-cyrillic_latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/montserrat-v25-cyrillic_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/montserrat-v25-cyrillic_latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-800 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/montserrat-v25-cyrillic_latin-800.eot'); /* IE9 Compat Modes */
  src: url('../fonts/montserrat-v25-cyrillic_latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/montserrat-v25-cyrillic_latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/montserrat-v25-cyrillic_latin-800.woff') format('woff'), /* Modern Browsers */
       url('../fonts/montserrat-v25-cyrillic_latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/montserrat-v25-cyrillic_latin-800.svg#Montserrat') format('svg'); /* Legacy iOS */
}
html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}
.wrapper{
    max-width: 1060px;
    margin: 0 auto;
}
.intro{
    min-height: 100vh;
    background: url(../image/фон\ 2.jpg);
    background-size: cover;
    padding-top: 233px;
}
.intro__title{
    font-weight: 00px;
    font-size: 50px;
    line-height: 60px;
    color: #C1A58F;
    text-shadow: 0px 4px 0px #000000;
    margin-bottom: 20px;
}
.intro__subtitle{
    font-size: 35px;
    line-height: 45px;
    color: #C1A58F;
    text-shadow: 0px 4px 0px #000000;
    margin-bottom: 100px;
}
.intro__subtitle1{
    font-size: 35px;
    line-height: 45px;
    color: #C1A58F;
    text-shadow: 0px 4px 0px #000000;
    margin-bottom: 60px;
}

.search-form__submit{
    margin-right: 15px;
    padding: 15px 55px;
    font-size: 25px;
    line-height: 30px;
    text-shadow: 0px 4px 0px #000000;
    color: #C1A58F;
    background: #10131A;
    border-radius: 20px;
}